# PostgreSQL Database
DATABASE_URL=postgresql://postgres:.....@localhost:5432/frns

# JWT Authentication
JWT_SECRET_KEY=.....

# MongoDB Configuration
MONGO_URI=mongodb://root:.....@localhost:27017/frns_db?authSource=admin
MONGO_DB_NAME=frns_db
MONGO_USERNAME=root
MONGO_PASSWORD=.....

# The ......... should be replaced with actual secret values before using this file in a production environment.